<div id="post">
    <div>
        <a href="/blogpost/{{id}}">{{{title}}}</a>
        <p>Posted by {{User.username}} on {{format_date createdAt}}</p>
    </div>
    <section>
        <p>{{text}}</p>
    </section>
</div>